# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions


Initial_Truths: # Initially true propositions
A

Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
complex_map

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
crowded_B = share.DummySensorHandler.buttonPress(button_name='crowded_B', init_value=False)
crowded_E = share.DummySensorHandler.buttonPress(button_name='crowded_E', init_value=False)
rob1_A_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'A')
rob1_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'B')
rob1_C_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'C')
rob1_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'D')
rob1_E_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'E')
rob1_F_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'F')
rob1_G_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'G')
rob1_H_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'H')

======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 33.50049738,  -0.89279945,  66.48435372],
       [ -0.27159749, -30.69295068,  67.89619503],
       [  0.        ,   0.        ,   1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="A", x=-0.9169, y=1.5363, theta=2.0310, absolute=True)
#basicSim.BasicSimInitHandler(init_region="A", x=-0.3754, y=1.9369, theta=-3.0456, absolute=True)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.ReasynsHandler(scalingPixelsToMeters=1.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob1

Type: # Robot type
basicSim

