# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions


Initial_Truths: # Initially true propositions
E

Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
box_pushing_youbot

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
moveToLeft = share.DummySensorHandler.buttonPress(button_name='moveToLeft', init_value=False)
moveToRight = share.DummySensorHandler.buttonPress(button_name='moveToRight', init_value=False)
rob1_A_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'A')
rob1_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'B')
rob1_C_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'C')
rob1_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'D')
rob1_E_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'E')
rob1_E_C_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'E_C')
rob1_E_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'E_D')

======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
#array([[33.50049738,  -0.89279945,  66.48435372],
#       [ -0.27159749, -30.69295068,  67.89619503],
#       [  0.        ,   0.        ,   1.        ]])
array([[ 33.50049738,  -0.89279945,  36.48435372],
       [ -0.27159749, -30.69295068,  62.89619503],
       [  0.        ,   0.        ,   1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=2.3,maxspeed=0.1)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
youbot.YoubotInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
youbot.YoubotLocomotionCommandHandler(maxomega=0.6)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.ReasynsHandler(scalingPixelsToMeters=1.)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="KUKAyouBot2:main body <t-X>",y_VICON_name="KUKAyouBot2:main body <t-Y>",theta_VICON_name="KUKAyouBot2:main body <a-Z>")

RobotName: # Robot Name
rob1

Type: # Robot type
youbot

