# This is a configuration definition file in folder "/home/jon/Dropbox/Repos/LTLMoP/src/examples/local_planner/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions


Initial_Truths: # Initially true propositions
E

Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
box_pushing

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
moveToLeft = share.DummySensorHandler.buttonPress(button_name='moveToLeft', init_value=False)
moveToRight = share.DummySensorHandler.buttonPress(button_name='moveToRight', init_value=False)
rob1_A_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'A')
rob1_B_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'B')
rob1_C_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'C')
rob1_D_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'D')
rob1_E_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'E')

======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  40.        ,   0.        ,   0.        ],
       [  0.        ,   40.        ,   0.        ],
       [  0.        ,   0.        ,   1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=1.,maxspeed=100.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="E", x=0.0, y=0.0, theta=2.0310, absolute=False)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.ReasynsFastHandler(scalingPixelsToMeters=1.,fname='reasyns_01-May-2016_222317.mat')

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob1

Type: # Robot type
basicSim

